services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: broker
      POSTGRES_PASSWORD: broker
      POSTGRES_DB: brokerdb
    ports:
      - "5432:5432"

  redpanda:
    image: redpandadata/redpanda:v24.1.11
    command: ["redpanda", "start", "--overprovisioned", "--smp", "1", "--memory", "1G", "--reserve-memory", "0M", "--node-id", "0", "--check=false"]
    ports:
      - "9092:9092"
    environment:
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true

  toxiproxy:
    image: shopify/toxiproxy:2.5.0
    container_name: toxiproxy-cli
    command: ["-host", "0.0.0.0"]
    ports:
      - "8474:8474"

  toxiproxy-admin:
    image: ghcr.io/shopify/toxiproxy-cli:2.5.0
    depends_on: [toxiproxy]
    entrypoint: ["sh","-c","sleep 2 && toxiproxy-cli create db -l 0.0.0.0:15432 -u db:5432 && tail -f /dev/null"]
    network_mode: service:toxiproxy

networks:
  default:
    name: wise-net
